.food_form{
	width: 100%;
}
.food_form textarea{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

hr {
	height: 1px;
	width: 70%;
	margin: 5%;
}

body {
	background-color: black;
}

img {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}